$color-white: #ffffff;
$color-gray: #696969;
$color-blue: #4a92f8;
$color-shadow-button: #4a92f866;
$color-bg: #212529;
$color-black: #000000;

.contactSection {
  padding: 100px 0;
  display: flex;
  margin: 0 20px;
  border-radius: 30px;

  h2 {
    color: $color-white;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
  }

  span {
    color: $color-blue;
  }

  .line {
    height: 1px;
    background-color: $color-blue;
    flex-grow: 1;
  }

  .text {
    margin: 20px 0;
    min-height: 180px; 

    p {
      color: $color-white;
      font-size: 16px;
      line-height: 1.3;
      margin: 0;
      position: relative;
      display: inline;

      &:after {
        content: '';
        display: inline-block;
        width: 3px;
        height: 16px;
        background-color: $color-blue;
        margin-left: 5px;
        vertical-align: baseline;
        position: relative;
        top: 2px;
        animation: blink 1.0s infinite;
      }
    }
  }

  form {
    height: auto;
    width: 100%;
    display: inline-block;
    background-color: $color-bg;
    padding: 30px;
    border-radius: 30px;
    box-shadow: #00000066 0px 2px 4px, #0000004d 0px 7px 13px -3px, #00000033 0px -3px 0px inset;

    .contentForm {
      display: flex;
      flex-direction: column;
    }

    label {
      color: $color-white;
      margin: 15px 0;
    }

    input {
      border-radius: 10px;
      height: 45px;
      border: 2px solid $color-blue;
      padding: 10px;
    }

    textarea {
      border-radius: 10px;
      height: 200px;
      padding: 10px;
      border: 2px solid $color-blue;
    }

    .contentBtn {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      button {
        color: $color-white;
        background-color: $color-blue;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
        transition: 0.4s ease-in-out;

        &:hover {
          i {
            transform: translate(3px, -3px);
          }
        }

        i {
          display: inline-block;
          margin-left: 10px;
          font-size: 18px;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* --- MEDIA QUERIES --- */

@media (max-width: 991px) {
  .contactSection {
    padding: 50px 0;
    .content {
      flex-direction: column-reverse;

      form {
        margin-top: 30px;
        padding: 20px;
      }
    }
  }
}

@media (max-width: 577px) {
  .contactSection {
    .content {
      label {
        font-size: 14px;
      }
    }
    .title {
      h2 {
        font-size: 28px;
      }
    }

    .text {
      p {
        font-size: 14px;
      }
    }
  }
}