$background: #212529;
$font: "Mona Sans";

@font-face {
  font-family: $font;
  src: url(../fonts/MonaSans-VariableFont_wdth\_wght.ttf);
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}



