$background: #171a1d;
$font: "JetBrains Mono";

@font-face {
  font-family: $font;
  src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}



