$color-white: #ffff;

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;

  .cursorInner {
    width: 100%;
    height: 100%;
    border: 1px solid $color-white;
    border-radius: 50%;

  }
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}