$background: #18191a;
$color-text: #868686;
$color-white: #ffff;
$color-blue: #4a92f8;

.footer {
   background-color: $background;
   padding: 40 0px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;

   .contentFooter {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .navFooter {
         display: flex;
         flex-direction: column;

         img {
            height: 35px;
            width: auto;
         }

         h4 {
            color: $color-white;
         }

         a {
            color: $color-text;
            transition: 0.3s ease-in-out;

            &:hover {
               color: $color-blue;
            }
         }

         .text {
            margin: 20px 0;

            p {
               color: $color-text;
               font-size: 14px;
               margin: 10px 0;
            }
         }

         ul {
            display: flex;
            gap: 10px;
         }

         i {
            font-size: 25px;
         }
      }

      .navList {
         display: flex;
         flex-direction: column;

         h4 {
            color: $color-white;
         }

         li {
            margin: 5px 0;
         }

         a {
            color: $color-text;
            transition: 0.3s ease-in-out;

            &:hover {
               color: $color-blue;
            }
         }

         i {
            margin-right: 5px;
         }
      }
   }

   .line {
      height: 1px;
      width: 90%;
      background-color: $color-text;
      margin: 45px 0;
   }

   .copyright {
      span {
         color: $color-text;
         font-size: 14px;
      }
   }
}
