$background: #212529;
$color-text: #a7a9b0;
$color-white: #ffff;

.footer {
  background-color: $background;
  padding: 40 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contentFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    .navFooter{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;

        h4{
            color: $color-white;
        }
        
        a{
            color: $color-text;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $color-white;
            }
        }

        span{
            color: $color-text;
            font-size: 14px;
            margin: 20px 0;
        }

        ul{
            display: flex;
            gap: 10px;
        }

        i{
            font-size: 25px;
        }
    }

    .navList{
        display: flex;
        flex-direction: column;

        h4{
            color: $color-white;
        }

        li{
            margin: 5px 0;
        }

        a {
            color: $color-text;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $color-white;
            }
        }
        
        i{
            margin-right: 5px;
        }
    }
  }

  .line{
    height: 1px;
    width: 90%;
    background-color: $color-text;
    margin: 45px 0;
  }
}
